<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>

    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid bg-info vh-100">
      <h1 class="text-danger text-center">Url-Shortner</h1>
      <form action="/shortUrls" method="POST">
        <label for="fullUrl" class="form-label">Enter the Url</label>
        <input
          name="fullUrl"
          id="fullUrl"
          type="url"
          class="form-control form-control-lg"
        />
        <div class="text-center mt-4">
          <input type="Submit" value="Submit" class="btn btn-success" />
        </div>
      </form>
      <table class="table table-responsive table-hover table-light mt-4">
        <thead>
          <tr>
            <th scope="col">Full Url</th>
            <th scope="col">Short Url</th>
            <th scope="col">Clicks</th>
          </tr>
        </thead>
        <tbody>
          <% shortUrl.forEach(element => {%>
          <tr>
            <td><a href="<%= element.full %> "><%= element.full %></a></td>
            <td><a href="<%= element.short %> "><%= element.short %></a></td>
            <td><%= element.clicks %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </body>
</html>
